.TodayWeather{
  display: flex;
  gap:10px;
  flex-wrap: wrap;
}
.TodayWeather>div{
  border-right: 1px solid gray;
  flex:1 1 200px;
}
.TodayWeather h2{
  display:block;
}
.TodayWeather li{
  list-style-type: none;
}
.next3days{
  display: flex;
}
.next3days li{
  list-style-type: none;
}
span{
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding:2px 5px
}